/* - - - - - - - -
  GENERAL STYLES
- - - - - - - - */

* {
  box-sizing: border-box;
}

body {
  margin: 25px auto;
  width: 100%;
  font-family: 'Merriweather', serif;
  color: #B9BDC6;
  padding-top: 70px;
  background-color: #EFEFEF;
}

header{
  width: 100%;
  background-color: #2B3442;
  color: white;
  position: absolute;
  top: 0;
}
header h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 15px;
}

main {
  width: 95%;
  margin: 0 auto;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}
main h1,
main p{
  text-align: center;
}

h1 {
  color: #2B3442;
  font-size: 1.2em;
  font-family: 'Merriweather', serif;
}
p {
  font-weight: 300;
}

.divider-thick {
  border-bottom: 4px solid #2B3442;
  margin-bottom: 3px;
}
.divider-thin {
  border-bottom: 2px solid #2B3442;
}
.divider {
  height: 15px;
  width: 100%;
}

.container{
  padding: 15px 0;
}







/* - - - - - - - -
   FORM STYLES
- - - - - - - - */

fieldset {
  border: none;
  padding: 15px 0;
  margin: 0;
}
legend {
  padding-top: 25px;
}

.contact input,
.form textarea {
  background: #EFEFEF;
  color: #2B3442;
  border-radius: 5px;
  border: none;
  padding: 10px;
  border: 2px solid #EFEFEF;
  transition: border ease .7s, background ease .5s;
}
.form input:hover,
.form textarea:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}
.form input:focus,
.form textarea:focus {
  border: 2px solid #2B3442;
}
.form button{
  background-color: #57BCAF;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  color: white;
  font-size: 1.2em;
}

.contact input {
  width: 100%;
  display: block;
}
.contact label {
  min-width: 141px;
}

.newsletter input, label {
 display: inline-block;
}

input::placeholder {
  font-style: italic;
  text-align: right;
}
input, select {
  margin-bottom: 15px;
}
label {
  margin-bottom: 5px;
}
select {
  width: 100%;
}

#state {
  height: 34px;
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
}

#other-topics {
  width: 100%;
  height: 100px;
}







/* - - - - - - - -
   MEDIA QUERIES
- - - - - - - - */

@media (min-width: 768px) {
  main {
    width: 60%;
    min-width: 500px;
  }
  label {
    margin-bottom: 15px;
  }

  .contact input,
  .contact select {
    display: inline;
  }
  .contact label {
    float: left;
    height: 37px;
    width: 30%;
    padding-top: 12px;
  }
  .contact input,
  .contact select {
    float: right;
    width: 70%;
  }

  .newsletter label,
  .newsletter input {
    margin-bottom: 10px;
  }
}
